In [41]:
import pandas as pd
import numpy as np

In [51]:
df=pd.read_csv('df_Toronto.csv')

In [52]:
df.drop(columns=['Unnamed: 0'],inplace=True)
df.head()

  Postal code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park , Harbourfront
3         M6A        North York             Lawrence Manor , Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park , Ontario Provincial Government

We have the list of the Postal code (form the first exercice), now we will build the dataframes of neighborhood with theirs postal code and theirs coordinates

In [29]:
file='/Users/clairelecam/Downloads/Geospatial_Coordinates.csv'
df_coor=pd.read_csv(file,sep=',')
df_coor.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [30]:
df_coor.rename(columns={'Postal Code':'Postal code'},inplace=True)
df_coor.head()

  Postal code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

we merge the 2 dataframe on postal code :

In [40]:
df_neigh=pd.merge(df,df_coor,on='Postal code')
df_neigh.rename(columns={'Postal code':'PostalCode'},inplace=True)
df_neigh.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park , Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor , Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park , Ontario Provincial Government",43.662301,-79.389494

In [38]:
df_neigh.shape

(103, 5)

we check that all postal code have a latitude and a longitude :

In [39]:
latitude=df_neigh['Latitude'].isnull()
latitude.value_counts()

False    103
Name: Latitude, dtype: int64

In [53]:
longitude=df_neigh['Longitude'].isnull()
longitude.value_counts()

False    103
Name: Longitude, dtype: int64